/*
 * Source : https://github.com/hadley/adv-r
 * Author : Hadley Wickham
*/

.book .book-header h1 {
  opacity: 1;
  text-align: left;
}

#header .title {
  margin-bottom: 0em;
}
#header h4.author {
  margin: 0;
  color: #666;
}
#header h4.author em {
  font-style: normal;
}

/* Sidebar formating --------------------------------------------*/

div.sidebar, div.base {
  border: 1px solid #ccc;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 0;
}

/* .book .book-body .page-wrapper .page-inner section.normal is needed
   to override the styles produced by gitbook, which are ridiculously
   overspecified. Goal of the selectors is to ensure internal "margins"
   controlled only by padding of container */

.book .book-body .page-wrapper .page-inner section.normal div.sidebar > :first-child,
.book .book-body .page-wrapper .page-inner section.normal div.base > :first-child {
  margin-top: 0;
}

.book .book-body .page-wrapper .page-inner section.normal div.sidebar > :last-child,
.book .book-body .page-wrapper .page-inner section.normal div.base > :last-child {
  margin-bottom: 0;
}

div.base::before {
  display: block;
  content: "In base R";
}

div.base::before,
.book .book-body .page-wrapper .page-inner section.normal .sidebar h3 {
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 0.25em;
  color: #333;
}

.todo {
  display: block;
  border: 1px solid red;
  border-left-width: 5px;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 1em 0;
}

.todo::before {
  content: "TO DO: ";
  font-weight: bold;
  color: red;
}

/* Other gitbook tweaks -------------------------------------------------- */

.book .book-body .page-wrapper .page-inner section.normal code {
  padding: 2px 0;
}
